$intro-height: 700px

.intro
	height: $intro-height
	background:
		image: url("../images/header-bg.jpg")
		repeat: no-repeat
		size: cover
		position: center
	text-align: center

	&--overlay
		display: flex
		align-items: center
		justify-content: center
		height: $intro-height
		background: rgba(darken($brand-primary, 5%), 0.1)

	&--container
		padding: 0 15px

	&--catchphrase
		font-size: 44px
		color: #fff
		margin-bottom: 100px
		line-height: 45px

	.cta-secondary
		margin-left: 45px

@media (max-width: 767px)
	.intro
		height: 400px
		background-position: left bottom
		margin-top: 50px

		&--overlay
			height: 400px

		&--catchphrase
			font-size: 32px
			margin-bottom: 20px
			line-height: 40px

		.cta-secondary
			display: none