// Glyphicons font path
$icon-font-path:        "../fonts/"

// Grid settings
$main-sm-columns:       12
$sidebar-sm-columns:    4

// Colors
$brand-primary:         #00ABE1
$light-grey: #aaacae
$extra-light-grey: #F7F8F8
$dark-grey: #56565a

$border-radius: 25px

// Navbar
$navbar-default-bg: #fff
$navbar-default-link-color: $light-grey
$navbar-default-link-hover-color: $brand-primary
$navbar-default-toggle-hover-bg: transparent
$navbar-default-toggle-icon-bar-bg: $brand-primary
$navbar-default-toggle-border-color: transparent
$navbar-height: auto