// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #00ABE1;
$light-grey: #BDC0C2
$dark-grey: #56565a

$border-radius: 25px

// Navbar
$navbar-default-bg: transparent
$navbar-default-link-color: #fff
$navbar-default-link-hover-color: $brand-primary
$navbar-default-brand-hover-color: $brand-primary
$navbar-default-toggle-hover-bg: transparent
$navbar-default-toggle-icon-bar-bg: #fff
$navbar-default-toggle-border-color: transparent
$navbar-height: auto