.my-features
	list-style-type: none
	padding: 0
	margin-bottom: 30px
	
	&--item
		font-size: 16px

		&:before
			content: "\f058"
			font-family: FontAwesome
			position: relative
			top: 3px
			color: $brand-primary
			font-size: 25px
			margin-right: 10px