section
	padding: 70px 0

	h3
		font-size: 32px
		text-align: center
		color: $dark-grey
		margin-bottom: 100px

		&:after
			background: $light-grey
			content: ""
			display: block
			height: 3px
			width: 35px
			margin: 20px auto
			border-radius: $border-radius

@media (max-width: 767px)
	section
		padding: 25px 0

		h3
			margin-bottom: 50px